body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}

/*100%=16px   WE HAVE TO CHANGE TO PERCENTAGE SO THAT HEADING TEXT CAN ALSO CHANGE WITH THE BODY TEXT IN BROWSER SETTINGS*/
/*1em=16px WE CAN ALSO USE EM FOR THE SAME REASON*/
/*1em=100%=16px*/
h1 {
  margin: 50px auto 0 auto;
  font-size: 5rem;
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  color: #66bfbf;
  padding-bottom: 10px;
}

p {
  line-height: 2;
}

h3 {
  color: #11999e;
}

a {
  color: #11999e;
  margin:20px 20px;
  text-decoration:none;
}

a:hover{
  color:#eaf6f6;
}

span {
  text-decoration: underline;
}

hr {
  border-style: dotted none none none;
  width: 7%;
  border-width: 10px;
  color: #eaf6f6;
}

.Web {
  font-weight: 900;
}

.profile-text {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 30%;
  margin: 40px auto 60px;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #eaf6f6;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  margin-top: 100px;
  margin-bottom: 0;
  padding:40px 0 20px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.manager-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.html-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.manager-property {
  clear: left;
}

.html-property {
  clear: right;
}

.bottom-p {
  color: #eaf6f6;
  padding:20px 0;
  font-size:1rem;
}

.BUTTON_OCD {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_OCD:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4ED);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4ED);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4ED);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4ED);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4ED);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
